In [1]:
from itertools import combinations

In [3]:
len(list(combinations(range(6), 2))) * len(list(combinations(range(5), 2)))

150

In [4]:
from math import factorial

In [5]:
factorial(11) / (factorial(5) * factorial(3))

55440.0

In [8]:
factorial(8)/4

10080.0

In [9]:
def comb(x, y):
    return factorial(x) / (factorial(y) * factorial(x-y))

In [16]:
import operator

In [19]:
from functools import reduce

In [22]:
?reduce

In [23]:
reduce(operator.mul, (x for x in [3, 4, 5]), 1)

60

In [27]:
def comb_mul(x, *args):
    return factorial(x) / reduce(operator.mul, (factorial(y) for y in args), 1)

In [29]:
factorial(10) / (factorial(3) * factorial(2) * factorial(7))

60.0

In [25]:
comb_mul(5, 2, 3)

10.0

In [54]:
4 * comb(13, 5)

5148.0

In [53]:
comb(52, 5)

2598960.0

In [51]:
comb_mul(52, 5)

6.721514597578657e+65

In [31]:
comb_mul(10, 3, 2, 5) * 4

10080.0

In [43]:
comb(8, 5)

56.0

In [47]:
factorial(12)

479001600

In [50]:
factorial(7) * factorial(5) * 6

3628800

In [49]:
factorial(7) * factorial(5) * 8

4838400

In [48]:
factorial(7) * factorial(5) * 56

33868800

In [68]:
comb(13, 5) * 4

5148.0

In [14]:
comb_mul(1, 2, 3)

<class 'tuple'>

In [32]:
comb(7, 4) * (2**4)

560.0

In [12]:
comb(6, 3) * -8

-160.0

In [38]:
set([1, 2, 3])

{1, 2, 3}

In [67]:
A = [1, 2, 3, 4]
onto_count = 0
missing_count = 0
double_ones = 0
for i in A:
    for j in A:
        for k in A:
            for l in A:
                for m in A:
                    if len(set([i, j, k, l, m])) == 4:
                        if [i, j, k, l, m].count(1) == 2:
                            print([i, j, k, l, m])
                            double_ones += 1
                        onto_count += 1
                    else:
                        missing_count += 1

onto_count, missing_count, double_ones

[1, 1, 2, 3, 4]
[1, 1, 2, 4, 3]
[1, 1, 3, 2, 4]
[1, 1, 3, 4, 2]
[1, 1, 4, 2, 3]
[1, 1, 4, 3, 2]
[1, 2, 1, 3, 4]
[1, 2, 1, 4, 3]
[1, 2, 3, 1, 4]
[1, 2, 3, 4, 1]
[1, 2, 4, 1, 3]
[1, 2, 4, 3, 1]
[1, 3, 1, 2, 4]
[1, 3, 1, 4, 2]
[1, 3, 2, 1, 4]
[1, 3, 2, 4, 1]
[1, 3, 4, 1, 2]
[1, 3, 4, 2, 1]
[1, 4, 1, 2, 3]
[1, 4, 1, 3, 2]
[1, 4, 2, 1, 3]
[1, 4, 2, 3, 1]
[1, 4, 3, 1, 2]
[1, 4, 3, 2, 1]
[2, 1, 1, 3, 4]
[2, 1, 1, 4, 3]
[2, 1, 3, 1, 4]
[2, 1, 3, 4, 1]
[2, 1, 4, 1, 3]
[2, 1, 4, 3, 1]
[2, 3, 1, 1, 4]
[2, 3, 1, 4, 1]
[2, 3, 4, 1, 1]
[2, 4, 1, 1, 3]
[2, 4, 1, 3, 1]
[2, 4, 3, 1, 1]
[3, 1, 1, 2, 4]
[3, 1, 1, 4, 2]
[3, 1, 2, 1, 4]
[3, 1, 2, 4, 1]
[3, 1, 4, 1, 2]
[3, 1, 4, 2, 1]
[3, 2, 1, 1, 4]
[3, 2, 1, 4, 1]
[3, 2, 4, 1, 1]
[3, 4, 1, 1, 2]
[3, 4, 1, 2, 1]
[3, 4, 2, 1, 1]
[4, 1, 1, 2, 3]
[4, 1, 1, 3, 2]
[4, 1, 2, 1, 3]
[4, 1, 2, 3, 1]
[4, 1, 3, 1, 2]
[4, 1, 3, 2, 1]
[4, 2, 1, 1, 3]
[4, 2, 1, 3, 1]
[4, 2, 3, 1, 1]
[4, 3, 1, 1, 2]
[4, 3, 1, 2, 1]
[4, 3, 2, 1, 1]

(240, 784, 60)

In [64]:
sum(map(lambda x: x == 1, [1, 2, 3, 1, 4]))

2

In [69]:
comb(13, 2) * 4 * 13**3

685464.0