# Access a Database with Python - Iris Dataset

The Iris dataset is a popular dataset especially in the Machine Learning community, it is a set of features of 50  Iris flowers and their classification into 3 species.
It is often used to introduce classification Machine Learning algorithms.

First let's download the dataset in `SQLite` format from Kaggle:

<https://www.kaggle.com/uciml/iris/>

Download `database.sqlite` and save it in the `data/iris` folder.

<p><img   src="https://upload.wikimedia.org/wikipedia/commons/4/49/Iris_germanica_%28Purple_bearded_Iris%29%2C_Wakehurst_Place%2C_UK_-_Diliff.jpg" alt="Iris germanica (Purple bearded Iris), Wakehurst Place, UK - Diliff.jpg" height="145" width="114"></p>

<p><br> From <a href="https://commons.wikimedia.org/wiki/File:Iris_germanica_(Purple_bearded_Iris),_Wakehurst_Place,_UK_-_Diliff.jpg#/media/File:Iris_germanica_(Purple_bearded_Iris),_Wakehurst_Place,_UK_-_Diliff.jpg">Wikimedia</a>, by <a href="//commons.wikimedia.org/wiki/User:Diliff" title="User:Diliff">Diliff</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=33037509">Link</a></p>

First let's check that the sqlite database is available and display an error message if the file is not available (`assert` checks if the expression is `True`, otherwise throws `AssertionError` with the error message string provided):

In [18]:
import os
data_iris_folder_content = os.listdir("data/iris")

In [19]:
error_message = "Error: sqlite file not available, check instructions above to download it"
assert "database.sqlite" in data_iris_folder_content, error_message

## Access the Database with the sqlite3 Package

We can use the `sqlite3` package from the Python standard library to connect to the `sqlite` database:

In [20]:
import sqlite3

In [21]:
conn = sqlite3.connect('data/iris/database.sqlite')

In [22]:
cursor = conn.cursor()

In [23]:
type(cursor)

sqlite3.Cursor

A `sqlite3.Cursor` object is our interface to the database, mostly throught the `execute` method that allows to run any `SQL` query on our database.

First of all we can get a list of all the tables saved into the database, this is done by reading the column `name` from the `sqlite_master` metadata table with:

    SELECT name FROM sqlite_master
    
The output of the `execute` method is an iterator that can be used in a `for` loop to print the value of each row.

In [24]:
for row in cursor.execute("SELECT name FROM sqlite_master"):
    print(row)

('Iris',)

a shortcut to directly execute the query and gather the results is the `fetchall` method:

In [25]:
cursor.execute("SELECT name FROM sqlite_master").fetchall()

[('Iris',)]

**Notice**: this way of finding the available tables in a database is specific to `sqlite`, other databases like `MySQL` or `PostgreSQL` have different syntax.

Then we can execute standard `SQL` query on the database, `SQL` is a language designed to interact with data stored in a relational database. It has a standard specification, therefore the commands below work on any database.

If you need to connect to another database, you would use another package instead of `sqlite3`, for example:

* [MySQL Connector](https://dev.mysql.com/doc/connector-python/en/) for MySQL
* [Psycopg](http://initd.org/psycopg/docs/install.html) for PostgreSQL
* [pymssql](http://pymssql.org/en/stable/) for Microsoft MS SQL

then you would connect to the database using specific host, port and authentication credentials but then you could execute the same exact `SQL` statements.

Let's take a look for example at the first 3 rows in the Iris table:

In [26]:
sample_data = cursor.execute("SELECT * FROM Iris LIMIT 20").fetchall()

In [27]:
print(type(sample_data))
sample_data

<class 'list'>

[(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (2, 4.9, 3, 1.4, 0.2, 'Iris-setosa'),
 (3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5, 5, 3.6, 1.4, 0.2, 'Iris-setosa'),
 (6, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa'),
 (7, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa'),
 (8, 5, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (9, 4.4, 2.9, 1.4, 0.2, 'Iris-setosa'),
 (10, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (11, 5.4, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (12, 4.8, 3.4, 1.6, 0.2, 'Iris-setosa'),
 (13, 4.8, 3, 1.4, 0.1, 'Iris-setosa'),
 (14, 4.3, 3, 1.1, 0.1, 'Iris-setosa'),
 (15, 5.8, 4, 1.2, 0.2, 'Iris-setosa'),
 (16, 5.7, 4.4, 1.5, 0.4, 'Iris-setosa'),
 (17, 5.4, 3.9, 1.3, 0.4, 'Iris-setosa'),
 (18, 5.1, 3.5, 1.4, 0.3, 'Iris-setosa'),
 (19, 5.7, 3.8, 1.7, 0.3, 'Iris-setosa'),
 (20, 5.1, 3.8, 1.5, 0.3, 'Iris-setosa')]

In [37]:
conn

In [36]:
cursor.description

(('Id', None, None, None, None, None, None),
 ('SepalLengthCm', None, None, None, None, None, None),
 ('SepalWidthCm', None, None, None, None, None, None),
 ('PetalLengthCm', None, None, None, None, None, None),
 ('PetalWidthCm', None, None, None, None, None, None),
 ('Species', None, None, None, None, None, None))

In [28]:
[row[0] for row in cursor.description]

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

It is evident that the interface provided by `sqlite3` is low-level, for data exploration purposes we would like to directly import data into a more user friendly library like `pandas`.

## Import data from a database to `pandas`

In [29]:
import pandas as pd

In [30]:
iris_data = pd.read_sql_query("SELECT * FROM Iris", conn)

In [31]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [42]:
list(iris_data.items())

[('Id', 0        1
  1        2
  2        3
  3        4
  4        5
  5        6
  6        7
  7        8
  8        9
  9       10
  10      11
  11      12
  12      13
  13      14
  14      15
  15      16
  16      17
  17      18
  18      19
  19      20
  20      21
  21      22
  22      23
  23      24
  24      25
  25      26
  26      27
  27      28
  28      29
  29      30
        ...
  120    121
  121    122
  122    123
  123    124
  124    125
  125    126
  126    127
  127    128
  128    129
  129    130
  130    131
  131    132
  132    133
  133    134
  134    135
  135    136
  136    137
  137    138
  138    139
  139    140
  140    141
  141    142
  142    143
  143    144
  144    145
  145    146
  146    147
  147    148
  148    149
  149    150
  Name: Id, Length: 150, dtype: int64), ('SepalLengthCm', 0      5.1
  1      4.9
  2      4.7
  3      4.6
  4      5.0
  5      5.4
  6      4.6
  7      5.0
  8      4.4
  9      4.9
  10     5.4
  11     4.8
  12     4.8
  13     4.3
  14     5.8
  15     5.7
  16     5.4
  17     5.1
  18     5.7
  19     5.1
  20     5.4
  21     5.1
  22     4.6
  23     5.1
  24     4.8
  25     5.0
  26     5.0
  27     5.2
  28     5.2
  29     4.7
        ...
  120    6.9
  121    5.6
  122    7.7
  123    6.3
  124    6.7
  125    7.2
  126    6.2
  127    6.1
  128    6.4
  129    7.2
  130    7.4
  131    7.9
  132    6.4
  133    6.3
  134    6.1
  135    7.7
  136    6.3
  137    6.4
  138    6.0
  139    6.9
  140    6.7
  141    6.9
  142    5.8
  143    6.8
  144    6.7
  145    6.7
  146    6.3
  147    6.5
  148    6.2
  149    5.9
  Name: SepalLengthCm, Length: 150, dtype: float64), ('SepalWidthCm',
  0      3.5
  1      3.0
  2      3.2
  3      3.1
  4      3.6
  5      3.9
  6      3.4
  7      3.4
  8      2.9
  9      3.1
  10     3.7
  11     3.4
  12     3.0
  13     3.0
  14     4.0
  15     4.4
  16     3.9
  17     3.5
  18     3.8
  19     3.8
  20     3.4
  21     3.7
  22     3.6
  23     3.3
  24     3.4
  25     3.0
  26     3.4
  27     3.5
  28     3.4
  29     3.2
        ...
  120    3.2
  121    2.8
  122    2.8
  123    2.7
  124    3.3
  125    3.2
  126    2.8
  127    3.0
  128    2.8
  129    3.0
  130    2.8
  131    3.8
  132    2.8
  133    2.8
  134    2.6
  135    3.0
  136    3.4
  137    3.1
  138    3.0
  139    3.1
  140    3.1
  141    3.1
  142    2.7
  143    3.2
  144    3.3
  145    3.0
  146    2.5
  147    3.0
  148    3.4
  149    3.0
  Name: SepalWidthCm, Length: 150, dtype: float64), ('PetalLengthCm',
  0      1.4
  1      1.4
  2      1.3
  3      1.5
  4      1.4
  5      1.7
  6      1.4
  7      1.5
  8      1.4
  9      1.5
  10     1.5
  11     1.6
  12     1.4
  13     1.1
  14     1.2
  15     1.5
  16     1.3
  17     1.4
  18     1.7
  19     1.5
  20     1.7
  21     1.5
  22     1.0
  23     1.7
  24     1.9
  25     1.6
  26     1.6
  27     1.5
  28     1.4
  29     1.6
        ...
  120    5.7
  121    4.9
  122    6.7
  123    4.9
  124    5.7
  125    6.0
  126    4.8
  127    4.9
  128    5.6
  129    5.8
  130    6.1
  131    6.4
  132    5.6
  133    5.1
  134    5.6
  135    6.1
  136    5.6
  137    5.5
  138    4.8
  139    5.4
  140    5.6
  141    5.1
  142    5.1
  143    5.9
  144    5.7
  145    5.2
  146    5.0
  147    5.2
  148    5.4
  149    5.1
  Name: PetalLengthCm, Length: 150, dtype: float64), ('PetalWidthCm',
  0      0.2
  1      0.2
  2      0.2
  3      0.2
  4      0.2
  5      0.4
  6      0.3
  7      0.2
  8      0.2
  9      0.1
  10     0.2
  11     0.2
  12     0.1
  13     0.1
  14     0.2
  15     0.4
  16     0.4
  17     0.3
  18     0.3
  19     0.3
  20     0.2
  21     0.4
  22     0.2
  23     0.5
  24     0.2
  25     0.2
  26     0.4
  27     0.2
  28     0.2
  29     0.2
        ...
  120    2.3
  121    2.0
  122    2.0
  123    1.8
  124    2.1
  125    1.8
  126    1.8
  127    1.8
  128    2.1
  129    1.6
  130    1.9
  131    2.0
  132    2.2
  133    1.5
  134    1.4
  135    2.3
  136    2.4
  137    1.8
  138    1.8
  139    2.1
  140    2.4
  141    2.3
  142    1.9
  143    2.3
  144    2.5
  145    2.3
  146    1.9
  147    2.0
  148    2.3
  149    1.8
  Name: PetalWidthCm, Length: 150, dtype: float64), ('Species',
  0         Iris-setosa
  1         Iris-setosa
  2         Iris-setosa
  3         Iris-setosa
  4         Iris-setosa
  5         Iris-setosa
  6         Iris-setosa
  7         Iris-setosa
  8         Iris-setosa
  9         Iris-setosa
  10        Iris-setosa
  11        Iris-setosa
  12        Iris-setosa
  13        Iris-setosa
  14        Iris-setosa
  15        Iris-setosa
  16        Iris-setosa
  17        Iris-setosa
  18        Iris-setosa
  19        Iris-setosa
  20        Iris-setosa
  21        Iris-setosa
  22        Iris-setosa
  23        Iris-setosa
  24        Iris-setosa
  25        Iris-setosa
  26        Iris-setosa
  27        Iris-setosa
  28        Iris-setosa
  29        Iris-setosa
              ...
  120    Iris-virginica
  121    Iris-virginica
  122    Iris-virginica
  123    Iris-virginica
  124    Iris-virginica
  125    Iris-virginica
  126    Iris-virginica
  127    Iris-virginica
  128    Iris-virginica
  129    Iris-virginica
  130    Iris-virginica
  131    Iris-virginica
  132    Iris-virginica
  133    Iris-virginica
  134    Iris-virginica
  135    Iris-virginica
  136    Iris-virginica
  137    Iris-virginica
  138    Iris-virginica
  139    Iris-virginica
  140    Iris-virginica
  141    Iris-virginica
  142    Iris-virginica
  143    Iris-virginica
  144    Iris-virginica
  145    Iris-virginica
  146    Iris-virginica
  147    Iris-virginica
  148    Iris-virginica
  149    Iris-virginica
  Name: Species, Length: 150, dtype: object)]

In [32]:
iris_data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

`pandas.read_sql_query` takes a `SQL` query and a connection object and imports the data into a `DataFrame`, also keeping the same data types of the database columns. `pandas` provides a lot of the same functionality of `SQL` with a more user-friendly interface.

However, `sqlite3` is extremely useful for downselecting data **before** importing them in `pandas`.

For example you might have 1 TB of data in a table stored in a database on a server machine. You are interested in working on a subset of the data based on some criterion, unfortunately it would be impossible to first load data into `pandas` and then filter them, therefore we should tell the database to perform the filtering and just load into `pandas` the downsized dataset.

In [33]:
iris_setosa_data = pd.read_sql_query("SELECT * FROM Iris WHERE Species == 'Iris-setosa'", conn)

In [34]:
iris_setosa_data
print(iris_setosa_data.shape)
print(iris_data.shape)

(50, 6)
(150, 6)